@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*ОБЩЕЕ ОФОРМЛЕНИЕ СТРАНИЦЫ*/
html, body {
    height: 100%;
    line-height: 1;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;    
}
a {
    text-decoration: none;
    color: inherit;
}
main .container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding: 20px 0;
  align-items: flex-start;
}
body {
    margin: 0;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    line-height: 1.3;                       
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header .container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
/* ХЭДЕР ПЕРВЫЙ С ИНФО */ 
.header__1 {
    padding: 10px 0px;
    background-color: #353535;
}
.header__1-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #e3e3e3;
}

.logo_name {
  max-width: 410px;
  max-height: 80px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo_img {
  height: 80px;
}

.schedule {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.schedule img {
  max-width: 40;
}
.timetable, .sanitary {
  display: flex;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
}
.social-links img {
  max-width: 24px;
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ХЭДЕР ВТОРОЙ С МЕНЮ */ 
.header__2 {
    background-color: #252525;
}
.menu__list {
    display: flex;
    justify-content: flex-start;    
}

.menu__list-link {
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 10px;
}
.menu__list-link:hover {
    background-color: #404040;
}
.menu__list-link:active {
    background-color: #000000;
}  

.main {
    flex: 1 1 auto;
    background-color: #ffead5;
}

.left_col {
  width: 200px;
  min-width: 100px;
  background-color: #fff8f0;
  border-radius: 10px;
  margin-right: 10px;
}
.left_col-nav {  
  display: block;
  color: #616161;
  padding: 10px 4px;
}
.left_col-nav a {  
  color: #616161;
}
.left_col-nav a:hover {  
  color: #252525;
}
.left_col-nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right_col {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-width: 230px;
  background-color: #fff8f0;
  border-radius: 10px;
  margin-left: 10px;
}
.right_col-item {
  display: flex;
  margin: 10px 5px;
  gap: 5px;
}
.news_pic {
  display: inline-block;
  width: 80px;
  border-radius: 10px; 
}
.news_post {
  font-size: 12px;
  color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content_seg{
  display: flex;
  gap: 15px;
}
.content_seg h1{
  color: #252525;
  font-size: 32px;
}
.content_seg h2{
  color: #252525;
  font-size: 20px;
}
/* КАРУСЕЛЬ */
   .carousel-container {
    width: 50%;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
}
.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


footer {
  background-color: #353535;
  padding: 35px 0 0;
}
footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  footer .footer-container p, a, h4 {
    color: #FFFFFF;
  }
  footer .footer-container h4 {
    margin: 0 0 10px;
  }
  footer .footer-container p, a {
    font-size: .875rem;
  }
  footer .footer-container img {
    max-width: 200px;
  }
  footer .footer-container .footer-col {
    margin: 0 15px 60px;
    padding: 30px;
    border-radius: 4px;
    background: #252525;
    box-shadow: 2px 2px 2px #222222;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
  }
  footer .footer-container .footer-col ul li {
    list-style: none;
  }
  @media (min-width: 768px) {
    footer .footer-container {
      display: flex;
      justify-content: space-between;
    }
    footer .footer-container .footer-col {
      flex-basis: 32%;
    }
  }
  .footer_copy {
    padding: 10px 10px;
    background-color: #252525;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
  }
  .footer_copy a {
    font-size: 16px;
    color: #e2e2e2;
  }
  .gradient-button {
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    background: linear-gradient(135deg, #2b2b2b, #722424); /* Пример градиента */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  .gradient-button:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #722424, #2b2b2b); /* Реверсивный градиент */
  }
  .gradient-button:active {
    transform: scale(0.97);
  }